h2{
    color: red;
    text-align: center;
    font-size: 48px;
}

@media (width<1180px){
    h2{
        color: blueviolet;
        border: 4px solid black;
    }
}
@media (width<480px){
    h2{
        color: aqua;
        border: none;
    }
}